body {
  margin: 0;
}

header {
  border-bottom: 1px solid darkgray;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.container-header {
  text-align: left;
  margin: auto;
  width: 1200px;

}

.grid-flower {
  grid-area: flower;
  text-align: center;
  margin: 0;
  padding: 15px 0px 10px 5px;
}

.grid-logo {
  grid-area: logo;
  text-align: center;
  margin: 0;
  padding: 45px 0px 25px 0px;
}
.grid-top-right {
  grid-area: top-right;
  padding: 60px 10px 0px 0px;
  font-size: 10px;
}
.grid-bottom-right {
  grid-area: bottom-right;
  padding: 0px 10px 20px 0px;
  font-size: 17px;
}

.grid-header {
  display: grid;
  grid-template-columns: 120px 300px auto;
  grid-template-areas: 'flower logo top-right' 'flower logo bottom-right'

}

.list-top-right {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #707070;
}

a:hover {
  text-decoration: none;
  color: black;
}

.list-bottom-right {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding-left: 15px;
}

.slideshow {
  height: 600px;
  border-bottom: 1px solid darkgray;
}



.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 42%;
  font-weight: bold;
  font-size: 40px;
  padding: 10px;
  transition: 0.3s ease;
  user-select: none;
  color: #292929;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  color: black;
  background-color: lightgray;
}

.dots {
  display: inline-block;
}

.dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 2px;
  background-color: #bdbdbd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.dot-bar {
  text-align: center;
  margin-top: -2%;
}

.active, .dot:hover {
  background-color: #696969;
}













.container-footer {
  text-align: left;
  margin: auto;
  width: 1200px;
}

.footer {
  color: #707070;
  padding: 20px 0px 0px 0px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 17px;
}

#contact {
  text-decoration: underline;
}
